<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= asset_path "hp_banner.jpg" %>')">
  <div class="container">
    <h1><strong>What movie tonight ?</strong></h1>
    <p>Let's try not to spend more time finding the movie idea than watching the movie</p>
    <%= link_to movies_path do %>
      <button class= "btn-flat">See the movies</button>
    <% end %>
  </div>
</div>


<div class="container">
  <%= link_to "Create a list", new_list_path %>
</div>
